.heart-active {
  animation: animate 0.8s steps(28) forwards; /* Use "forwards" to retain the final animation state */
  background-position: right;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
